h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

.list{
    color: black !important;
    font-size: 20px;    
}

.title{
    color: black !important;
    font-size: 15px;
    font-weight: 500;
}

.value{
    color: black !important;
    font-size: 14px;
    
}

.alerta{
    text-align: center;
    color: #5c4030 !important;
    font-weight: 500;

}